# 31 Dec

# Date and Time Handling in Pandas

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse
import matplotlib.pyplot as plt

In [23]:
data1 = pd.read_csv('July_3_BTU (1).csv')
data1

,Device Name,Date,CHWR (DegC),CHWS (DegC),Flow(USGPM),Load (TR)
0,BTU-1,7/3/2017 23:55,19.73,16.17,109.6,28.8
1,BTU-2,7/3/2017 23:55,20.86,16.29,96.1,32.4
2,BTU-1,7/3/2017 23:50,19.68,16.24,109.8,27.8
3,BTU-2,7/3/2017 23:50,20.81,16.29,97.5,32.4
4,BTU-1,7/3/2017 23:45,19.66,16.16,109.6,28.3
...,...,...,...,...,...,...
571,BTU-2,7/3/2017 0:10,20.03,15.63,85.5,27.7
572,BTU-1,7/3/2017 0:05,19.17,15.49,98.9,26.8
573,BTU-2,7/3/2017 0:05,20.01,15.60,84.9,27.6
574,BTU-1,7/3/2017 0:00,19.19,15.46,98.3,27.0
575,BTU-2,7/3/2017 0:00,20.01,15.55,85.1,28.0

In [24]:
data1.head()

,Device Name,Date,CHWR (DegC),CHWS (DegC),Flow(USGPM),Load (TR)
0,BTU-1,7/3/2017 23:55,19.73,16.17,109.6,28.8
1,BTU-2,7/3/2017 23:55,20.86,16.29,96.1,32.4
2,BTU-1,7/3/2017 23:50,19.68,16.24,109.8,27.8
3,BTU-2,7/3/2017 23:50,20.81,16.29,97.5,32.4
4,BTU-1,7/3/2017 23:45,19.66,16.16,109.6,28.3

In [25]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 6 columns):
Device Name    576 non-null object
Date           576 non-null object
CHWR (DegC)    576 non-null float64
CHWS (DegC)    576 non-null float64
Flow(USGPM)    576 non-null float64
Load (TR)      576 non-null float64
dtypes: float64(4), object(2)
memory usage: 27.1+ KB

In [26]:
dateparse = lambda dates:parse(dates)
data = pd.read_csv("July_3_DBT_WBT (1).csv", parse_dates=["Date"], index_col="Date",date_parser=dateparse)
data

                             DBT        WBT
Date
2017-07-03 00:00:00+05:30  27.95  24.576544
2017-07-03 00:05:00+05:30  27.95  24.601542
2017-07-03 00:10:00+05:30  27.95  24.601542
2017-07-03 00:15:00+05:30  27.95  24.618208
2017-07-03 00:20:00+05:30  27.95  24.626541
...                          ...        ...
2017-07-03 23:35:00+05:30  30.55  26.192980
2017-07-03 23:40:00+05:30  30.50  26.179377
2017-07-03 23:45:00+05:30  30.50  26.184933
2017-07-03 23:50:00+05:30  30.45  26.126892
2017-07-03 23:55:00+05:30  30.45  26.187998

[288 rows x 2 columns]

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 288 entries, 2017-07-03 00:00:00+05:30 to 2017-07-03 23:55:00+05:30
Data columns (total 2 columns):
DBT    288 non-null float64
WBT    288 non-null float64
dtypes: float64(2)
memory usage: 6.8 KB

In [28]:
data.index=data.index.strftime("%H-%M")

In [19]:
data.index

Index(['00-00', '00-05', '00-10', '00-15', '00-20', '00-25', '00-30', '00-35',
       '00-40', '00-45',
       ...
       '23-10', '23-15', '23-20', '23-25', '23-30', '23-35', '23-40', '23-45',
       '23-50', '23-55'],
      dtype='object', length=288)

In [20]:
data.head

<bound method NDFrame.head of          DBT        WBT
00-00  27.95  24.576544
00-05  27.95  24.601542
00-10  27.95  24.601542
00-15  27.95  24.618208
00-20  27.95  24.626541
...      ...        ...
23-35  30.55  26.192980
23-40  30.50  26.179377
23-45  30.50  26.184933
23-50  30.45  26.126892
23-55  30.45  26.187998

[288 rows x 2 columns]>

In [17]:
data.to_excel("\Users\amitkumarsahu\Desltop\pandas\July_3_DBT_WBT.xlse")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (<ipython-input-17-d046e7a25408>, line 1)

In [14]:
data.plot()

NameError: name 'data' is not defined

# BTU Analysis

In [16]:
dateparse = lambda dates:parse(dates)

In [7]:
data = pd.read_csv("July_3_DBT_WBT(1).csv", parse_dates=["Date"], index_col="Date",date_parser=dateparse)

FileNotFoundError: [Errno 2] File b'July_3_DBT_WBT(1).csv' does not exist: b'July_3_DBT_WBT(1).csv'

In [8]:
data.index

NameError: name 'data' is not defined

In [ ]:
data.head()

In [ ]:
data1=data[data["Device Name"]=="BTU-1"]
data2=data[data["Device Name"]=="BTU-2"]

In [ ]:
data1["Time"]=pd.to_datatime(data1.index)

In [ ]:
data1

In [ ]:
data1.info()

In [ ]:
data1

In [ ]:
data1.plot(x="Time")

# 7 Jan

# Grouping with Dictionaries and Series

In [ ]:
banana=np.array([1,2,2,2,7,3,4,2,5,1,2,3,1,2,2,2,1,2,1,2,2,7,8,0,1]).reshape(5,5)
a=["fri", "sat", "tue", "mon", "sun"]
b=["tanish", "baibhav", "sarita", "karuna", "rahul"]
people = pd.DataFrame(banana,columns=a,index=b)
people.iloc[2:3, [1,2]] = np.nan #add a few na values
people

In [ ]:
mapping = {"fri": "happy", "sat": "happy", "tue": "sad",
          "mon": "sad", "sun": "happy", "thus": "moderate"}
mapping

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

# Same operation using series:>

In [ ]:
map_series = pd.Series(mapping)
map_series

In [ ]:
people.groupby(map_series, axis=1).sum()

# Grouping with Function

In [ ]:
#Suppose you wanted to group by the length of the names;while you could
#computer an array of string lengths, it's simpler to just pass the len function

In [ ]:
people

In [ ]:
people.groupby(len).sum()

In [ ]:
key_list = ["one", "one", "one", "two", "two"]
people.groupby([len, key_list]).sum()

# Grouping by index Levels

In [ ]:
columns = pd.MultiIndex.from_arrays([["gorkpur", "gorkpur", "gorkpur", "luck", "luck"],
                                    [1, 3, 5, 1, 3]],
                                   names=["cty", "tenor"])
hier_df = pd.DataFrame(np.arange(20).reshape(4,5),columns=columns)
hier_df

In [ ]:
hier_df.groupby(level="cty", axis=1).count()

In [ ]:
#df = pd.DataFrame(dic)

In [ ]:
df = pd.DataFrame({"key1": ["a", "a", "b", "b", "a"],
                  "key2": ["one", "two", "one", "two", "one"],
                  "data1": np.arange(5),
                  "data2": np.arange(5,10)})
df

In [ ]:
grouped = df.groupby("key1")
grouped["data1"].median()

In [ ]:
grouped = df.groupby("key1")

In [ ]:
df = dict(list(grouped))
df["a"]

In [ ]:
df["b"]

In [ ]:
range(5)

In [ ]:
def peak_to_peak(x):
    return x.max() - x.min()

In [ ]:
grouped.agg(peak_to_peak)

# 8 Jan

# OR, using lambda functions as given below:>

In [2]:
f = lambda x:x.max()-x.min()
grouped.agg(f)

NameError: name 'grouped' is not defined

In [ ]:
grouped.describe()

In [ ]:
tips = pd.read_csv('tips.csv')
tips

In [ ]:
#add tip percentage of total bill
tips["tip_pct"] = tips["tip"]*100 / tips["total_bill"]
tips[:6]

In [ ]:
grouped = tips.groupby(["smoker", "day"])

In [ ]:
dict(list(grouped))

In [ ]:
#For descriptive statistics we can pass the name of the function as a string:
grouped_pct = grouped["tip_pct"]
grouped_pct.agg("mean")

In [ ]:
grouped_pct.describe()

In [ ]:
grouped_pct.agg(["mean", "std", f])

In [ ]:
grouped_pct.agg([("Average", "mean"), ("standard dev", "std"), ("max-min", f)])

In [ ]:
functions = [("Number of bills", "count"), "mean", "max"]
result = grouped["tip_pct", "total_bill"].agg(functions)
result
print(result)

In [ ]:
a = result.to_excel("newname.xlsx")#homework
print(a)

In [ ]:
grouped = tips.groupby(["smoker", "day"])

In [ ]:
grouped.agg({"tip": np.max, "size": np.sum})

In [1]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"], "size": "sum"})

NameError: name 'grouped' is not defined

In [ ]:
a = 8
b = 2
print(a+b)