In [1]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Deepak
[nltk_data]     Chauhan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
import nltk
text = """Backgammon is one of the oldest known board games.
Its history can be traced back nearly 5,000 years to archeological
discoveries in the Middle East. It is a two player game where each player has
fifteen checkers which move between twenty-four points according to the roll of two dice."""
sentences = nltk.sent_tokenize(text)
print(sentences)
for sentence in sentences:
    print(sentence)
    print()

['Backgammon is one of the oldest known board games.', 'Its history can be traced back nearly 5,000 years to archeological\ndiscoveries in the Middle East.', 'It is a two player game where each player has\nfifteen checkers which move between twenty-four points according to the roll of two dice.']
Backgammon is one of the oldest known board games.

Its history can be traced back nearly 5,000 years to archeological
discoveries in the Middle East.

It is a two player game where each player has
fifteen checkers which move between twenty-four points according to the roll of two dice.

In [4]:
for sentence in sentences:
    words = nltk.word_tokenize(sentence)
    print(words)
    print()

['Backgammon', 'is', 'one', 'of', 'the', 'oldest', 'known', 'board', 'games', '.']

['Its', 'history', 'can', 'be', 'traced', 'back', 'nearly', '5,000', 'years', 'to', 'archeological', 'discoveries', 'in', 'the', 'Middle', 'East', '.']

['It', 'is', 'a', 'two', 'player', 'game', 'where', 'each', 'player', 'has', 'fifteen', 'checkers', 'which', 'move', 'between', 'twenty-four', 'points', 'according', 'to', 'the', 'roll', 'of', 'two', 'dice', '.']

In [6]:
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
porter = PorterStemmer()
lancaster=LancasterStemmer()
word_list = ["friend", "friendship", "friends", "friendships","stabil","destabilize","misunderstanding","railroad","moonlight","football"]
print("{0:20}{1:20}{2:20}".format("Word","Porter Stemmer","lancaster Stemmer"))
for word in word_list:
    print("{0:20}{1:20}{2:20}".format(word,porter.stem(word),lancaster.stem(word)))

Word                Porter Stemmer      lancaster Stemmer
friend              friend              friend
friendship          friendship          friend
friends             friend              friend
friendships         friendship          friend
stabil              stabil              stabl
destabilize         destabil            dest
misunderstanding    misunderstand       misunderstand
railroad            railroad            railroad
moonlight           moonlight           moonlight
football            footbal             footbal

In [8]:
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations="?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)

sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos="v")))

[nltk_data] Downloading package wordnet to C:\Users\Deepak
[nltk_data]     Chauhan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.
Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun

In [10]:
#removing stopwords
nltk.download("stopwords")
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english"))
sentence = "Backgammon is one of the oldest known board games."

words = nltk.word_tokenize(sentence)
without_stop_words = [word for word in words if not word in stop_words]
print(without_stop_words)

[nltk_data] Downloading package stopwords to C:\Users\Deepak
[nltk_data]     Chauhan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['Backgammon', 'one', 'oldest', 'known', 'board', 'games', '.']

In [3]:
import nltk
#nltk.download()
#nltk.download(‘all’)

In [4]:
import pandas as pd
df=pd.read_csv("SMSSpamCollection.tsv",sep='\t',names=['label','body_txt'],header=None)
df.head()

  label                                           body_txt
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
import pandas as pd
df=pd.read_csv("SMSSpamCollection.tsv",sep='\t',names=['type','text'],header=None)
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.shape

(5572, 2)

In [7]:
df['text'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [8]:
import re
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
z=df['text'].apply(lambda data:re.sub('[!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~]','',data))

In [10]:
df['text_without_punc']=z
df.head()

,type,text,text_without_punc
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...

In [11]:
import nltk
li=[]
for i in range(5572):
     li.append(nltk.tokenize.WhitespaceTokenizer().tokenize(df["text"][i]))

In [12]:
import numpy as np
arr=np.array(li)
df['tokenize_text']=arr
df.head()

,type,text,text_without_punc,tokenize_text
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point,, crazy.., Available..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar..., Joking, wif, u, oni...]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor..., U, c, already..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, don't, think, he, goes, to, usf,, he,..."

In [13]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()
main=[]
for i in range(5572):
    li=[]
    for word in df['tokenize_text'][i]:
        li.append(ps.stem(word))
    main.append(li)
df['stem_text']=np.array(main)
df.head()

,type,text,text_without_punc,tokenize_text,stem_text
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point,, crazy.., Available...","[Go, until, jurong, point,, crazy.., avail, on..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., joke, wif, u, oni...]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F...","[free, entri, in, 2, a, wkli, comp, to, win, F..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, so, earli, hor..., U, c, alreadi..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, don't, think, he, goes, to, usf,, he,...","[nah, I, don't, think, he, goe, to, usf,, he, ..."

In [14]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
main=[]
for i in range(5572):
    li=[]
    for word in df['tokenize_text'][i]:
        li.append(lemmatizer.lemmatize(word))
    main.append(li)
df['lem_text']=np.array(main)
df.head()

,type,text,text_without_punc,tokenize_text,stem_text,lem_text
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point,, crazy.., Available...","[Go, until, jurong, point,, crazy.., avail, on...","[Go, until, jurong, point,, crazy.., Available..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., joke, wif, u, oni...]","[Ok, lar..., Joking, wif, u, oni...]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F...","[free, entri, in, 2, a, wkli, comp, to, win, F...","[Free, entry, in, 2, a, wkly, comp, to, win, F..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, so, earli, hor..., U, c, alreadi...","[U, dun, say, so, early, hor..., U, c, already..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, don't, think, he, goes, to, usf,, he,...","[nah, I, don't, think, he, goe, to, usf,, he, ...","[Nah, I, don't, think, he, go, to, usf,, he, l..."

In [15]:
#nltk.download()

In [16]:
from nltk.corpus import stopwords
sw=stopwords.words("english")

In [17]:
main=[]
for i in range(5572):
    li=[]
    for word in df['lem_text'][i]:
        if(word not in sw):
            li.append(word)
    main.append(li)
df['removed_sw_text']=np.array(main)
df.head()

,type,text,text_without_punc,tokenize_text,stem_text,lem_text,removed_sw_text
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point,, crazy.., Available...","[Go, until, jurong, point,, crazy.., avail, on...","[Go, until, jurong, point,, crazy.., Available...","[Go, jurong, point,, crazy.., Available, bugis..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., joke, wif, u, oni...]","[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., Joking, wif, u, oni...]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F...","[free, entri, in, 2, a, wkli, comp, to, win, F...","[Free, entry, in, 2, a, wkly, comp, to, win, F...","[Free, entry, 2, wkly, comp, win, FA, Cup, fin..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, so, earli, hor..., U, c, alreadi...","[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, early, hor..., U, c, already, sa..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, don't, think, he, goes, to, usf,, he,...","[nah, I, don't, think, he, goe, to, usf,, he, ...","[Nah, I, don't, think, he, go, to, usf,, he, l...","[Nah, I, think, go, usf,, life, around, though]"

In [18]:
"don't" in sw

True

In [19]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Deepak Chauhan\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [20]:
nltk.pos_tag(['the','baba','love','weeds'])

[('the', 'DT'), ('baba', 'NN'), ('love', 'NN'), ('weeds', 'NNS')]

In [21]:
main=[]
for i in range(5572):
    tagged=nltk.pos_tag(df['removed_sw_text'][i])
    main.append(tagged)
df['pos_text']=np.array(main)
df.head()

,type,text,text_without_punc,tokenize_text,stem_text,lem_text,removed_sw_text,pos_text
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[Go, until, jurong, point,, crazy.., Available...","[Go, until, jurong, point,, crazy.., avail, on...","[Go, until, jurong, point,, crazy.., Available...","[Go, jurong, point,, crazy.., Available, bugis...","[(Go, NNP), (jurong, JJ), (point,, RB), (crazy..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., joke, wif, u, oni...]","[Ok, lar..., Joking, wif, u, oni...]","[Ok, lar..., Joking, wif, u, oni...]","[(Ok, NNP), (lar..., VBZ), (Joking, NNP), (wif..."
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[Free, entry, in, 2, a, wkly, comp, to, win, F...","[free, entri, in, 2, a, wkli, comp, to, win, F...","[Free, entry, in, 2, a, wkly, comp, to, win, F...","[Free, entry, 2, wkly, comp, win, FA, Cup, fin...","[(Free, JJ), (entry, NN), (2, CD), (wkly, JJ),..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, so, earli, hor..., U, c, alreadi...","[U, dun, say, so, early, hor..., U, c, already...","[U, dun, say, early, hor..., U, c, already, sa...","[(U, JJ), (dun, NNS), (say, VBP), (early, JJ),..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[Nah, I, don't, think, he, goes, to, usf,, he,...","[nah, I, don't, think, he, goe, to, usf,, he, ...","[Nah, I, don't, think, he, go, to, usf,, he, l...","[Nah, I, think, go, usf,, life, around, though]","[(Nah, NNP), (I, PRP), (think, VBP), (go, VB),..."

In [24]:
#nltk.download('maxent_ne_chunker')

In [25]:
#nltk.download('words')

In [26]:
#nltk.ne_chunk(df['pos_text'][0])

In [27]:
cat_in_the_hat_docs=[
       "One Cent, Two Cents, Old Cent, New Cent: All About Money (Cat in the Hat's Learning Library",
       "Inside Your Outside: All About the Human Body (Cat in the Hat's Learning Library)",
       "Oh, The Things You Can Do That Are Good for You: All About Staying Healthy (Cat in the Hat's Learning Library)",
       "On Beyond Bugs: All About Insects (Cat in the Hat's Learning Library)",
       "There's No Place Like Space: All About Our Solar System (Cat in the Hat's Learning Library)" 
      ]
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+') 
cv = CountVectorizer(lowercase=True,
                     ngram_range = (1,1),tokenizer = token.tokenize)
text_counts= cv.fit_transform(cat_in_the_hat_docs)
print(text_counts) #sparse matrics with postion and count 
print(cv.vocabulary_) #position in the sparse matrix
print(text_counts.shape) # shape   We have 5 (rows) documents and 43 unique words (columns)! removing stop words

  (0, 28)	1
  (0, 8)	3
  (0, 41)	1
  (0, 9)	1
  (0, 26)	1
  (0, 23)	1
  (0, 1)	1
  (0, 0)	1
  (0, 22)	1
  (0, 7)	1
  (0, 16)	1
  (0, 38)	1
  (0, 13)	1
  (0, 32)	1
  (0, 19)	1
  (0, 20)	1
  (1, 1)	1
  (1, 0)	1
  (1, 7)	1
  (1, 16)	1
  (1, 38)	2
  (1, 13)	1
  (1, 32)	1
  (1, 19)	1
  (1, 20)	1
  :	:
  (3, 13)	1
  (3, 32)	1
  (3, 19)	1
  (3, 20)	1
  (3, 27)	1
  (3, 3)	1
  (3, 5)	1
  (3, 17)	1
  (4, 1)	1
  (4, 0)	1
  (4, 7)	1
  (4, 16)	1
  (4, 38)	1
  (4, 13)	1
  (4, 32)	2
  (4, 19)	1
  (4, 20)	1
  (4, 39)	1
  (4, 24)	1
  (4, 31)	1
  (4, 21)	1
  (4, 34)	1
  (4, 29)	1
  (4, 33)	1
  (4, 36)	1
{'one': 28, 'cent': 8, 'two': 41, 'cents': 9, 'old': 26, 'new': 23, 'all': 1, 'about': 0, 'money': 22, 'cat': 7, 'in': 16, 'the': 38, 'hat': 13, 's': 32, 'learning': 19, 'library': 20, 'inside': 18, 'your': 43, 'outside': 30, 'human': 15, 'body': 4, 'oh': 25, 'things': 40, 'you': 42, 'can': 6, 'do': 10, 'that': 37, 'are': 2, 'good': 12, 'for': 11, 'staying': 35, 'healthy': 14, 'on': 27, 'beyond': 3, 'bugs': 5, 'insects': 17, 'there': 39, 'no': 24, 'place': 31, 'like': 21, 'space': 34, 'our': 29, 'solar': 33, 'system': 36}
(5, 44)

In [28]:
mydata=pd.read_csv("train.tsv", sep='\t')
mydata.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [30]:
mydata.groupby('Sentiment').first()

,PhraseId,SentenceId,Phrase
Sentiment,,,
0,102,3,would have a hard time sitting through this one
1,1,1,A series of escapades demonstrating the adage ...
2,2,1,A series of escapades demonstrating the adage ...
3,22,1,good for the goose
4,64,2,"This quiet , introspective and entertaining in..."

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
text_counts= cv.fit_transform(mydata['Phrase'])
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    text_counts, mydata['Sentiment'], test_size=0.3, random_state=1)
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
MNB = MultinomialNB().fit(X_train, y_train)
predicted= MNB.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))
MNB.predict(cv.transform(['you are ugly and go to hell']))

MultinomialNB Accuracy: 0.6085479943611432

array([1], dtype=int64)

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
text_tf= tf.fit_transform(mydata['Phrase'])
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    text_tf, mydata['Sentiment'], test_size=0.3, random_state=123)
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
# Model Generation Using Multinomial Naive Bayes
MNB2= MultinomialNB().fit(X_train, y_train)
predicted= MNB2.predict(X_test)
print("MultinomialNB Accuracy:",metrics.accuracy_score(y_test, predicted))
MNB2.predict(tf.transform(['i am happy']))

MultinomialNB Accuracy: 0.5865265496176684

array([2], dtype=int64)

In [53]:
predicted= clf.predict(tf.transform(['you are ugly and go to hell']))
predicted

array([1], dtype=int64)